body {
    padding: 0;
    overflow: hidden;
    font-family: 'Gothic A1', sans-serif;
}

p.main {
  font-size: 24px;
  font-family: 'Gothic A1', sans-serif;
}

.sidebar {
    background-color: #ECEFF1;
    position: absolute;
    left: 0px;
    width: 20%;
    height: 100%;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
    z-index: 100;
    font-family: 'Gothic A1', sans-serif;
    -webkit-box-shadow: 1px 0 6px 0px  #999;
    box-shadow: 1px 0 6px 0px #999;
    overflow-y:hidden;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

#map {
    position:absolute; bottom:0; right:0; width:100%; height: 100%; z-index: 1;
}

#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 2;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);}

#map canvas {
    cursor: crosshair;
  }

  #nav{
    color: white;
    font-size: 20px;
  }

  .animated-icon{
    transition: all 0.25s
  }

  .custom-popup{
    font-size: 11px;
    font-family: 'Gothic A1', sans-serif;
    align-content: center;
  }

  #daytimes{
    width: 100%;
  }

#weektimes {
      width: 100% !important;
      align-items: center;
      font-weight: bold;
      padding-left: 0;
      padding-right: 0;
  }

  #weekday {
        width: 100% !important;
    }

  .mainControl{
    height: 22%;
    width: 100%;
    border-style: solid;
    border-radius: 6px;
    border-color: grey;
    border-width: 0.2px;
    background-color: #cfd8dc;
    -moz-box-shadow:    inset 0 0 10px #90a4ae;
    -webkit-box-shadow: inset 0 0 10px #90a4ae;
    box-shadow:         inset 0 0 10px #90a4ae;
    margin-bottom: 15%;
  }

  #directionDropdown{
    background-color: transparent;
    border-width: 0;
    width: 99%;
    padding-left: 3%;
    font-size: 18px;
  }

#stationName{
  padding:5%;
}

#timehr{
  margin: 5px;
}

#titletext{
  color:#757575;
}

#titlehr{
  margin-bottom: 14%;
  margin-top: -2%;
}

#clock{
  text-align: center;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 0.7px;
    background: #bdbdbd;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#train{
  color: #551A8B;
}


#git span {
   position: absolute;
   bottom: 5px;
   opacity: 0.3;
   color: black;
}

#bottom{
  margin-top: 27%;
}
